################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Videos
/testRepo
/source
/Searches
/Saved Games
/repo
/Pictures
/OneDrive
/ntuser.ini
/NTUSER.DAT{8ab18d6c-ebe1-11ea-81f0-cf93ed933891}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{8ab18d6c-ebe1-11ea-81f0-cf93ed933891}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{8ab18d6c-ebe1-11ea-81f0-cf93ed933891}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/MicrosoftEdgeBackups
/Links
/IntelGraphicsProfiles
/install.xml
/IBM
/Favorites
/Downloads
/Documents
/Desktop
/Contacts
/Box
/AppData
/3D Objects
/.vscode
/.ssh
/.nuget
/.jazzcerts
/.gitconfig
/.eclipse
/.dotnet
/.cisco
/-1.14-windows.xml
